* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.clear-fix {
    clear: both;
}

.main_width {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px
}

.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 1s;
}

.mobileMenu{
position: fixed;
    left: 0;
    top: 0;
    background-color: #454545;
    cursor: pointer;
    display: none;
    z-index: 1500;
}

.mobileMenu__btn{
    height: 70px;
    width: 70px;
    background-color: #454545;
    display: table-cell;
    vertical-align: middle;
}

.mobileMenu__list{
    list-style: none;
    display: none;
}

.mobileMenu__list-visible{
    display: block;
}

.mobileMenu__item{
    border-bottom: 1px solid #00a5ff;
}

.mobileMenu__item:first-child{
    border-top: 1px solid #00a5ff;
}

.mobileMenu__link{
    display: block;
    width: 100%;
    height: 70px;
    padding: 0 10px 0 10px;
    line-height: 70px;
    text-align: left;
    text-decoration: none;
    font-size: 40px;
    color: #00a5ff;
}

.nav__scrolled{
    background: #454545;
    opacity: 0.7;
    transition: 1s;
}

.nav__link,
.header__logo,
.btn,
.pmenu__link,
.portfolio__link,
.contacts a {
    display: block;
    text-decoration: none;
}

.header__logo {
    line-height: 40px;
    padding: 10px 2px 10px 2px;
    font-size: 30px;
    font-weight: 600;
    color: #e3e4e5;
    float: left;
}

.header__logo > span {
    background-color: black;
    border-radius: 2px;
    padding-left: 1px;
}

.nav__list,
.services__list,
.pmenu__list,
.recent__list,
.social__list{
    list-style: none;
    font-size: 0;
}

.nav__list,
.social__list{
    text-align: right;
}

.social__list{
    height: 90px;
    display: table;
    float: right;
}

.nav__item,
.pmenu__item,
.portfolio__item,
.recent__item{
    display: inline-block;
}

.social__item{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.pmenu__item:hover,
.portfolio__item:hover{
    cursor: pointer;
}

.nav__link{
    line-height: 20px;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 600;
    color: #e3e4e5;
}

.nav__link:hover,
.btn:hover,
.pmenu__link:hover,
.social__link{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav__link:hover,
.pmenu__link:hover {
    color: #00a5ff;
    text-decoration: underline;
}

.hood {
    width: 100%;
    background: url("../images/section_top_bg.jpg") center top;
    background-size: cover;
    height: 711px;
    padding-bottom: 100px;
}

.hood__header {
    display: block;
    padding: 270px 0 15px 0;
    line-height: 70px;
    font-size: 58px;
    font-family: 'Lora', serif;
    font-weight: 700;
    color: white;
}

.hood__subheader {
    display: block;
    padding: 15px 0 15px 0;
    line-height: 30px;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
}

.btn {
    margin: 65px auto 0 auto;
    background-color: rgb(0, 165, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 35px;
    padding: 20px 0 20px 0;
    width: 320px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 150, 255);
}

.btn:active {
    color: black;
}

.sections__header {
    font-family: 'Lora', serif;
    font-size: 42px;
    font-weight: 700;
    color: #3a3f4b;
    padding-top: 70px;
    line-height: 45px;
}

.sections__header::after {
    content: "";
    display: block;
    width: 147px;
    height: 4px;
    background-color: #00a5ff;
    margin: 30px auto 10px;
}

.services {
    padding-bottom: 80px;
}

.services__item {
    display: block;
    float: left;
    width: 25%;
    font-size: 12px;
    font-weight: 400;
    margin-top: 50px;
}

.services:after {
    content: "";
    clear: both;
    display: block;
}

.services__item:first-child {
    margin-left: 0;
}

.services__item:last-child {
    margin-right: 0;
}

.services__logos {
    width: 81px;
    height: 81px;
    background-color: #f5f6f8;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 85px;
    position: relative;
}

.sprite {
    background: url('../images/sprite.png') no-repeat;
    position: absolute;
}

.sprite_ld {
    background-position: 0 0;
    width: 35px;
    height: 35px;
    top: 23px;
    left: 23px;
}

.sprite_wd {
    background-position: -39px 0;
    width: 43px;
    height: 34px;
    top: 23px;
    left: 19px;
}

.sprite_b {
    background-position: -86px 0;
    width: 23px;
    height: 36px;
    top: 22px;
    left: 29px;
}

.sprite_i {
    background-position: -113px 0;
    width: 42px;
    height: 49px;
    top: 16px;
    left: 19px;
}

.service__header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #3a3f4b;
    line-height: 20px;
}

.service__header::after {
    content: "";
    display: block;
    margin: 20px auto 15px auto;
    background-color: #888888;
    width: 41px;
    height: 1px;
    box-shadow: 0 1px #e1e1e1;
}

.service__info {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
    padding: 0 10px;
}

.portfolio {
    background-color: #f5f6f8;
    padding-bottom: 80px;
}

.pmenu__list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pmenu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding: 20px 30px;
}

.pmenu__link:hover {
    color: #3fb1fe;
}

.portfolio__list {
    list-style: none;
    margin-left: -7px;
    margin-right: -7px;
}

.portfolio__list::after {
    content: "";
    display: table;
    clear: both;
}

.portfolio__item {
    float: left;
    width: 33.33334%;
    padding: 0 7px 14px;
}

.portfolio__link {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.portfolio__link img{
    width: 100%;
}

.portfolio__item-signature {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 25px 0 25px 0;
    color: #999999;
    text-align: center;
}

.portfolioDialogBox{
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
    height: 430px;
    background-color: #f5f6f8;
    z-index: 4000;
    user-select: none;
}
.portfolioDialogBox__Image{
    width: 90%;
    margin-top: 5%;
    user-select: none;
}

.portfolioDialogBox__buttonLeft,
.portfolioDialogBox__buttonRight{
    position: absolute;
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    top: 380px;
    line-height: 30px;
    user-select: none;
}

.portfolioDialogBox__buttonRight{
    left: 275px;
}

.portfolioDialogBox__buttonLeft{
    right: 275px;
}

.modalWindow{

    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 2000;
}

.modalWindow__closeButton{
    position: fixed;
    top:0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: #999999;
    z-index: 3000;
    opacity: 0.7;
}

.modalWindow__closeButton:hover {
    opacity: 1;
}
.modalWindow__closeButton:before, .modalWindow__closeButton:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.modalWindow__closeButton:before {
    transform: rotate(45deg);
}
.modalWindow__closeButton:after {
    transform: rotate(-45deg);
}

.recent {
    padding-bottom: 80px;
}

.recent__item {
    margin: 85px 20px 0 20px;
    width: 150px;
    height: 100px;
    position: relative;
}

.recent__logo {
    position: absolute;
}

.sprite_harvest {
    background-position: -163px 0;
    width: 145px;
    height: 79px;
    top: 10px;
    left: 2px;
}

.sprite_landlock {
    background-position: -163px -89px;
    width: 142px;
    height: 82px;
    top: 9px;
    left: 4px;
}

.sprite_spectrum {
    background-position: -182px -181px;
    width: 104px;
    height: 45px;
    top: 27px;
    left: 23px;
}

.sprite_home-energy {
    background-position: -159px -236px;
    width: 149px;
    height: 45px;
    top: 27px;
    left: 1px;
}

.sprite_lavalier {
    background-position: -2px -171px;
    width: 118px;
    height: 78px;
    top: 11px;
    left: 16px;
}

.sprite_bakery {
    background-position: 0 -65px;
    width: 124px;
    height: 97px;
    top: 2px;
    left: 13px;
}

.about {
    background-color: #f5f6f8;
    padding-bottom: 80px;
}

.feedbackList{
    list-style: none;
}

.feedbackList__item{
    display: inline-block;
    width: 33.333%;
}

.feedbackList__item:first-child img,
.feedbackList__item:last-child img{
    cursor: pointer;
}

.feedbackList__item:first-child span ,
.feedbackList__item:last-child  span{
    display: none;
}

.feedbackList__item-photo{
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: center;
}

.feedbackList__item-name{
    display: block;
    font-weight: bold;
}

.feedbackList__item-feedback{
    display: block;
    font-style: italic;
}

.feedbackList__item-feedback:after,
.feedbackList__item-feedback:before{
    content: '"';
}

.contact {
    background-color: #3b404c;
    padding-bottom: 100px;
}
.contact h2 {
    color: #ffffff;
    text-align: center;
}

.contacts {
    text-align: left;
    float: left;
}

h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
}

.contacts p,
.contacts a {
    color: #999999;
    margin-bottom: 25px;
}

.form__message{
    float:right;
    width: 66.66666%;
}

form {
    padding-top: 60px;
    text-align: left;
}

form p {
    color: #ffffff;
    font-size: 26px;
}

input,
 textarea {
    width: 100%;
     background-color: #3b404c;
     border: none;
     border-bottom: 2px solid #7a7b7f;
     color: #999999;
     margin-bottom: 30px;
     font-size: 20px;
 }

textarea {
    height: 150px;
}

input[type='submit'] {
    border: none;
    margin-top: 30px;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid #00a5ff;
}

.contact__dialogBox{
    position: fixed;
    padding: 30px;
    top:50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 200px;
    background-color: #f5f6f8;
    z-index: 4000;
    user-select: none;
    border-radius: 50px;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.contact__dialogBox a{
    margin-top: 30px;
}

footer {
    position: relative;
}

.footer_logo {
    float: left;
    font-family: 'Open Sans', serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    padding: 35px 0;
    color: #999999;
}

.social__link {
    margin-left: 7px;
    display: block;
    color: #ffffff;
    background-color: #999999;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.social__item a:hover {
    background: #00a5ff;
}

.nav__up{
    position: fixed;
    bottom: 102px;
    right: 12px;
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #00a5ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: default;
    opacity: 0;
    transition: 1s;
}
.scrolled{}

.nav__up-visible{
    cursor: pointer;
    opacity: 0.7;
    transition: 1s;
}

@media (min-width: 750px) and (max-width: 970px)  {

    .form__message {
        float: left;
        width: 100%;
    }

    .portfolio__item{
        width: 50%;
    }

    .portfolio__item-signature{
        font-size: 12px;
    }

    .hood__header{
        padding: 170px 0 30px 0;
    }

    .services__item{
        width: 50%;
        height: 240px;
    }
    .contacts {
        width: 100%;
        text-align: center;
    }

    .header{
        display: none;
    }
}

@media (max-width: 750px)  {
    .sections__header{
        line-height: 20px;
        font-size: 20px;
    }
    .form__message {
        float: left;
        width: 100%;
    }

    .portfolio__item{
        width: 100%;
    }

    .portfolio__item-signature{
        font-size: 10px;

    }

    .hood__header{
        padding: 100px 0 30px 0;
        font-size: 42px;
    }

    .services__item{
        width: 100%;
        height: 180px;
    }
    .contacts {
        width: 100%;
        text-align: center;
    }

    .header{
        display: none;
    }

    .mobileMenu{
        display: block;
    }

    .btn{
        width: 280px;
    }

    .footer_logo{
        font-size: 15px;
    }

    .portfolioDialogBox{
        width: 300px;
        height: 300px;
        margin-left: -150px;
        margin-top: -150px;
    }

    .portfolioDialogBox__buttonLeft,
    .portfolioDialogBox__buttonRight{
        top:245px;
        width: 100px;
    }

    .portfolioDialogBox__buttonLeft{
        right: 185px;
    }

    .portfolioDialogBox__buttonRight{
        left: 185px;
    }

    .contact__dialogBox{
        width: 300px;
        margin-left: -150px;
    }

    .contact__dialogBox a{
        width: 150px;
    }
}









